/* Make images and sections responsive */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    .container, .flex-container {
        flex-direction: column;
        align-items: center;
    }
}

.gradient-bg {
    /* background: linear-gradient(45deg, #ffb7ce, #89CFF0);*/
    background: #013220
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

body {
    font-family: 'Sigmar', cursive;
}
